version: 2.1
jobs:
  compile:
   docker:
      - image: ubuntu:19.10
   steps:
      - run:
          command: |
           apt-get -y update && apt-get -y upgrade && apt-get -y install git automake lzop bison gperf build-essential zip curl zlib1g-dev g++-multilib python-networkx libxml2-utils bzip2 libbz2-dev libbz2-1.0 libghc-bzlib-dev squashfs-tools pngcrush schedtool dpkg-dev liblz4-tool make optipng bc libstdc++6 wget python gcc clang libssl-dev repo rsync flex git-lfs 
           git config --global user.name "ZyCromerZ"
           git config --global user.email "neetroid97@gmail.com"
           git clone https://github.com/akhilnarang/scripts scripts && cd scripts && bash setup/android_build_env.sh && cd ..
           check=$(ls /usr/lib/x86_64-linux-gnu | grep libisl.so -m1)
           if [ ! -z "$check" ]; then if [ "$check" != "libisl.so.15" ]; then cp -af /usr/lib/x86_64-linux-gnu/$check /usr/lib/x86_64-linux-gnu/libisl.so.15; fi; fi
           git clone https://$githubKey@github.com/ZyCromerZ/new-builder.git normal
           cd normal
           source a.sh
workflows:
  version: 2.1
  cooking:
    jobs:
      - compile
